
.icon-sodexo-suppliers:before { content: '\e800'; } /* '' */
.icon-sodexo-thumbs-up:before { content: '\e801'; } /* '' */
.icon-sodexo-tick:before { content: '\e802'; } /* '' */
.icon-sodexo-travel:before { content: '\e803'; } /* '' */
.icon-sodexo-travel-alt:before { content: '\e804'; } /* '' */
.icon-sodexo-trophy:before { content: '\e805'; } /* '' */
.icon-sodexo-voucher:before { content: '\e806'; } /* '' */
.icon-sodexo-account:before { content: '\e807'; } /* '' */
.icon-sodexo-alt-logout:before { content: '\e808'; } /* '' */
.icon-sodexo-bike:before { content: '\e809'; } /* '' */
.icon-sodexo-calculator:before { content: '\e80a'; } /* '' */
.icon-sodexo-card-coin:before { content: '\e80b'; } /* '' */
.icon-sodexo-card-straight:before { content: '\e80c'; } /* '' */
.icon-sodexo-cashback-percent:before { content: '\e80d'; } /* '' */
.icon-sodexo-childcare:before { content: '\e80e'; } /* '' */
.icon-sodexo-cinema:before { content: '\e80f'; } /* '' */
.icon-sodexo-dash:before { content: '\e810'; } /* '' */
.icon-sodexo-document:before { content: '\e811'; } /* '' */
.icon-sodexo-edit:before { content: '\e812'; } /* '' */
.icon-sodexo-edit-question:before { content: '\e813'; } /* '' */
.icon-sodexo-family:before { content: '\e814'; } /* '' */
.icon-sodexo-globe:before { content: '\e815'; } /* '' */
.icon-sodexo-green-car:before { content: '\e816'; } /* '' */
.icon-sodexo-gym:before { content: '\e817'; } /* '' */
.icon-sodexo-health-38:before { content: '\e818'; } /* '' */
.icon-sodexo-health-41:before { content: '\e819'; } /* '' */
.icon-sodexo-help:before { content: '\e81a'; } /* '' */
.icon-sodexo-holding-voucher:before { content: '\e81b'; } /* '' */
.icon-sodexo-home:before { content: '\e81c'; } /* '' */
.icon-sodexo-laptop-coin:before { content: '\e81d'; } /* '' */
.icon-sodexo-logout:before { content: '\e81e'; } /* '' */
.icon-sodexo-mail:before { content: '\e81f'; } /* '' */
.icon-sodexo-money:before { content: '\e820'; } /* '' */
.icon-sodexo-online-shop:before { content: '\e821'; } /* '' */
.icon-sodexo-parking:before { content: '\e822'; } /* '' */
.icon-sodexo-phone-blank:before { content: '\e823'; } /* '' */
.icon-sodexo-phone-pound:before { content: '\e824'; } /* '' */
.icon-sodexo-preferences:before { content: '\e825'; } /* '' */
.icon-sodexo-shop:before { content: '\e826'; } /* '' */
.icon-sodexo-shop-alt:before { content: '\e827'; } /* '' */
.icon-sodexo-spirits:before { content: '\e828'; } /* '' */
.icon-sodexo-spree-angled:before { content: '\e829'; } /* '' */
.icon-sodexo-star:before { content: '\e82a'; } /* '' */
.icon-sodexo-orders:before { content: '\e82b'; } /* '' */
.icon-sodexo-invoices:before { content: '\e82c'; } /* '' */
.icon-sodexo-meeting:before { content: '\e82d'; } /* '' */
.icon-sodexo-transactions:before { content: '\e82e'; } /* '' */
.icon-sodexo-invite:before { content: '\e82f'; } /* '' */
.icon-sodexo-tr-arrow:before { content: '\e830'; } /* '' */
.icon-sodexo-team:before { content: '\e831'; } /* '' */
.icon-sodexo-laptop:before { content: '\e832'; } /* '' */
.icon-sodexo-orders-1:before { content: '\e833'; } /* '' */
.icon-sodexo-tasks:before { content: '\e834'; } /* '' */